<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../LoginRegister.css">
</head>

<body>
    <div class="formContainer">
        <form action="" method="post">
            <p>To-Do App | Giriş Yap</p>
            <div>
                <label for="email">Email</label>
                <input type="text" name="email" placeholder="lütfen e-mail adresinizi giriniz " required id="email">
            </div>
            <div>
                <label for="password">Şifre</label>
                <input type="password" name="password" placeholder="lütfen şifrenizi giriniz " required id="password">
            </div>
            <input type="submit" class="submitButton" id="loginSubmitButton" value="Giriş Yap">
            <p>Henüz Hesabınız yok mu? <a href="/register" class="girisHref"> Hemen Kayıt Olun!</a></p>
        </form>
    </div>
</body>
<script src="../email.js"></script>

</html>